html, body {
    height: 100%;
    color: red;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: red;
}


}

p {
    font-size: 16px;
    color: blueviolet;
}

a {
    color: #2e72a1;
}

#logo, .project-img {
    max-height: 100px;
}

#fork img{
    height: 25px;
    margin-bottom: 25px;
    filter: invert(1);
}

#sep {
    height: 75px;
}

.margin {
    margin-bottom: 45px;
}

.bg-1 {
    background-color: navy; /* White */
    color: navy;
}

.bg-2 {
    background-color: darkmagenta; /* Blue */
    color: violet;
}

.card {
    color: black;
    text-align: left;
}

.card-title {
    font-weight: 700;
}

.bg-3 {
    background-color: midnightblue; /* Black */
    color: blue;
}

.bg-4 {
    background-color: darkblue; /* Dark Gray */
    color: darkblue;
}

.container-fluid {
    padding-top: 50px;
    padding-bottom: 50px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #2e72a1 !important;
}
